<h1>Movies!</h1>
<p>The most first movie is: <%= Movie.first.title %></p>
<p>It has <%= Movie.find(1).votes.count %> votes!</p>

<h2>My Favorite</h2>
<p>My favorite movie is: <%= @my_favorite %>.</p>
<p>It was released in <%= @my_fav_year %>.</p>

<%= link_to "All Movies", movies_path %>
